<nav class="nav">
    <div class="container-lg">
        <div class="nav__container">
            <a href="{{baseUrl}}index.html" class="nav__logo">Home</a>
            <ul class="nav__list">
                <li><a href="{{baseUrl}}index.html">Blog</a></li>
                <li><a href="{{baseUrl}}pages/about.html">About</a></li>
                <li><a href="{{baseUrl}}pages/archive.html">Archive</a></li>
                <li><a href="{{baseUrl}}pages/contact.html">Contact</a></li>
            </ul>
            <button class="nav__toggle">
                <span class="nav__toggle-icon"></span>
            </button>
        </div>
    </div>
</nav>

