<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    {{> nav}}

    <section>
        <div class="container-lg">
            <div class="row">
                <main class="col-med-9 content">
                    <div class="blog-listing">
                        <h2 class="section-heading">Recent Posts</h2>
                        {{content}}
                    </div>
                </main>
                
                {{> sidebar}}
            </div>
        </div>
    </section>

    {{> footer}}
    
    <script src="js/navbar-basic.js"></script>
</body>
</html>
