<!DOCTYPE html>
<html lang="en">
{{> head}}
<body class="{{bodyClass}}">
    {{> header}}

    <main class="site-main site-main--wide">
        <div class="container">
            <div class="row">
                <div class="col-med-9 post-article-wrapper">
                    {{#heroImage}}
                    <div class="hero-image">
                        <img src="{{heroImage}}" alt="{{title}}" class="img-100">
                    </div>
                    {{/heroImage}}

                    <article class="post-article">
                        <header class="post-header">
                            <h1 class="post-title">{{title}}</h1>
                            {{#postDate}}
                            <time class="post-date" datetime="{{postDate}}">{{postDate}}</time>
                            {{/postDate}}
                        </header>

                        <div class="post-content">
                            {{content}}
                        </div>

                        <footer class="post-footer">
                            <a href="{{baseUrl}}blog/" class="back-to-blog">&larr; Back to Blog</a>
                        </footer>
                    </article>
                </div>

                {{> sidebar}}
            </div>
        </div>
    </main>

    {{> footer}}
</body>
</html>
